.cardimg{

    background-color:#F8F9FA;
    width: 250px;
    height: 250px;
    margin: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: none;
}

.image{
    background-color:#F8F9FA;
    margin-left: 10px;
    width: 200px;
    height: 200px; 
    border-radius: 200px;
    margin: 20px 0;
    box-shadow: 0px 5px 5px 0px #adb5bd;
}


.title{
    margin-top: 0;   
    margin-bottom: 0.5rem;    
    font-weight: 700;    
    line-height: 1.2;
}